{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Rejestracja</div>
            <div class="card-body">
                {{ form_start(registrationForm) }}
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                {{ form_errors(registrationForm.name) }}
                                {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control'}, 'label': 'elo' }) }}
                                {{ form_help(registrationForm.name) }}
                                {{ form_label(registrationForm.name, 'Imię') }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                {{ form_errors(registrationForm.surname) }}
                                {{ form_widget(registrationForm.surname, {'attr': {'class': 'form-control'} }) }}
                                {{ form_help(registrationForm.surname) }}
                                {{ form_label(registrationForm.surname, 'Nazwisko') }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                {{ form_errors(registrationForm.email) }}
                                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'} }) }}
                                {{ form_help(registrationForm.email) }}
                                {{ form_label(registrationForm.email, 'Email') }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                {{ form_errors(registrationForm.plainPassword) }}
                                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'} }) }}
                                {{ form_help(registrationForm.plainPassword) }}
                                {{ form_label(registrationForm.plainPassword, 'Hasło') }}
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block">Zarejestruj</button>
                {{ form_end(registrationForm) }}
                <div class="text-center">
                    <a class="d-block small mt-3" href="{{ path('app_login') }}">Załóż konto</a>
                    <a class="d-block small" href="{{ path('app_login') }}">Zapomniałeś hasła?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}