{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Konsultacja </a>
            </li>
            <li class="breadcrumb-item active">Dodawanie rezerwacji</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-calendar-check" aria-hidden="true"></i>
                Konsultacja {{ consultation.startDate | date("d.m.Y") }}, {{ consultation.startDate | date("H:i") }}
                - {{ consultation.endDate | date("H:i") }}
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            {{ form_label(form.term, 'Termin') }}
                            {{ form_errors(form.term) }}
                            {{ form_help(form.term) }}
                            <div class="input-group">
                                {{ form_widget(form.term, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-row">
                    <a href="{{ path('reservations') }}" class="btn btn-link">
                        <i class="fa fa-list" aria-hidden="true"></i> Wróć do listy
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-calendar-check" aria-hidden="true"></i> Stwórz
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
