{{ form_start(form) }}
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            {{ form_label(form.room, 'Sala') }}
            {{ form_errors(form.room) }}
            {{ form_help(form.room) }}
            <div class="input-group">
                {{ form_widget(form.room, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="input-group date">
                {{ form_row(form.startDate) }}
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="input-group date">
                {{ form_row(form.endDate) }}
            </div>
        </div>
    </div>
</div>
<div class="button-row">
    <a href="{{ path('consultations') }}" class="btn btn-sm btn-link">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Wróć do listy
    </a>
    {% if consultation.getReservations() | length > 0 %}
        <a href="#" class="btn btn-sm btn-primary" data-toggle="modal"
           data-target="#confirmationModal">

            <i class="fa fa-calendar-check" aria-hidden="true"></i> Zapisz
        </a>
        {{ include('consultation/_edit_consultation_confirmation.html.twig') }}
    {% else %}
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-calendar-check" aria-hidden="true"></i> Zapisz
        </button>
    {% endif %}
</div>
{{ form_end(form) }}
