{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Konsultacja</a>
            </li>
            <li class="breadcrumb-item active">Lista</li>
        </ol>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Konsultacja {{ consultation.getStartDay() }}, {{ consultation.getHoursPeriod() }}
                ({{ consultation.room }})
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th scope="col"><i class="fa fa-calendar-day" aria-hidden="true"></i> Data</th>
                            <th scope="col"><i class="fa fa-stopwatch" aria-hidden="true"></i> Czas trwania</th>
                            <th scope="col"><i class="fa fa-university" aria-hidden="true"></i> Sala</th>
                            <th scope="col"><i class="fa fa-user-graduate" aria-hidden="true"></i> Student</th>
                            <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> Akcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reservation in consultation.reservations %}
                            <tr>
                                <td>{{ reservation.consultation.startDate | date('d.m.Y') }}</td>
                                <td>{{ reservation.getFullTerm() }}</td>
                                <td>{{ reservation.consultation.room }}</td>
                                <td>{{ reservation.author.getFullName() }}</td>
                                <td class="text-right">
                                    <div class="item-actions">
                                        <a href="#" class="btn btn-sm btn-info" data-toggle="modal"
                                           data-target="#confirmationModal-{{ reservation.id }}">
                                            <i class="fa fa-window-close" aria-hidden="true"></i> Anuluj
                                        </a>
                                        {{ include('consultation/_delete_consultation_reservation_confirmation.html.twig', {id: reservation.id}) }}
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" align="center">Nie masz jeszcze żadnych rezerwacji</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
